<!DOCTYPE html>
<html>
 <head>
     <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;usermanagement&quot;}">
 </head> 
 <body>
    <vaadin-css-layout style-name="root-layout dashboard-view-template-vaadin" responsive="true" width-full="true" _id="root_layout">
        <vaadin-label style-name="header-label" plain-text="" _id="billing_header_label">
          TrustWorks Employees
        </vaadin-label>
        <v-horizontal-layout spacing margin width-full="true" _id="sparkline_horizontal"></v-horizontal-layout>
        <!--<vaadin-css-layout style-name="dashboard-item" width="550" height="350px" _id="dashboard_item31">
        </vaadin-css-layout>-->
        <vaadin-css-layout style-name="dashboard-item" width="750" height="500px" _id="dashboard_item5">
        </vaadin-css-layout>
        <vaadin-css-layout style-name="dashboard-item" width="750" height="500px" _id="dashboard_item26">
        </vaadin-css-layout>
        <vaadin-css-layout style-name="dashboard-item" width="750" height="500px" _id="dashboard_item27">
        </vaadin-css-layout>
        <vaadin-css-layout style-name="dashboard-item" width="750" height="500px" _id="dashboard_item28">
        </vaadin-css-layout><!--
        <vaadin-css-layout style-name="dashboard-item" width="550" height="350px" _id="dashboard_item29">
        </vaadin-css-layout>
        <vaadin-css-layout style-name="dashboard-item" width="550" height="350px" _id="dashboard_item30">
        </vaadin-css-layout>
        <vaadin-css-layout style-name="dashboard-item" width="550" height="350px" _id="dashboard_item32">
        </vaadin-css-layout>-->
    </vaadin-css-layout>
 </body>
</html>